* {
  box-sizing: border-box;
  color: #333333;
  font-family: "Source Sans 3";
}

body {
  padding: 0%;
  margin: 0%;
  color: #333333;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  height: 10vh;
}

header nav {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 5rem;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
}

header nav a {
  text-decoration: none;
}

header nav a li:hover {
  color: #7843e9;
}

header nav ul li {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0px 30px;
  transition: 1s;
}

header nav img {
  width: 80px;
}


#hero {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  font-size: 6rem;
  margin: 0;
  font-weight: 800;
  margin: 0;
}


#hero h1 span {
  color: #7843e9;
}

#hero p {
  font-size: 1.5rem;
  margin: 0;
}

section .button {
  background-color: #7843e9;
  color: #fafafa;
  font-weight: bold;
  border: 5px solid #5e1fe4;
  font-size: 2rem;
  border-radius: 10px;
  padding: 5px 40px;
  margin-top: 2rem;
  transition: transform 0.3s ease-out;
}

section .button:hover {
  background-color: #8658e7;
  transform: translateY(-4px);
  cursor: pointer;
}

section .social {
  background-color: #fafafa;
  margin-top: 100px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

section .social img {
  padding: 10px;
  transition: .3s ease-out;
}

section .social img:hover {
  background-color: #ab8debdc;
  border-radius: 5px;
  cursor: pointer;
}

#about {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 70px
}

#gallery {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
}

#contact {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

footer p {
  width: 100vw;
  height: 10vh;
  background-color: #000;
  color: #fff;
  text-align: center;
  align-content: center;
  margin: 0;
}


#about>h1 {
  color: #8658e7;
  font-size: 4rem;
}

#about .about-container {
  width: 100%;
  display: flex;
}

#about .about-container div {
  width: 33%;
  height: auto;
}

.about-container ul li {
  list-style-type: none;
}

.about-container>div {
  background-color: #fafafa;
  gap: 10px;
  padding: 0 10px;
  border-radius: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 20px;
}

.image-container img {
  width: 15%;
  height: auto;
  margin: 20px;
  transition: transform 0.3s ease-out;
}

.image-container .picture-of-me {
  width: auto;
  height: 250px;
}

.about-container .skills {
  padding: 10% 0;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery>h1 {
  color: #8658e7;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

#gallery img:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
  cursor: pointer;
}

#contact>h1 {
  color: #8658e7;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  padding: 3% 5%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 50%;
}

#contact .form input {
  background-color: #fafafa;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 1rem;
  margin: 0;
  padding-left: 10px;
  border-radius: 5px;
}

#contact .form input:focus{
    outline: none;
}
#contact .form textarea:focus{
  outline: none;
}

#contact textarea {
  background-color: #fafafa;
  border: none;
  font-size: 1rem;
  margin: 0;
  padding-left: 10px;
  resize: none;
  border-radius: 5px;
}

#contact p {
  font-size: 1.5rem;
  margin: 0;
}

#contact h3 {
  margin: 0;
}